<section class="form">
  <%= simple_form_for('post', remote: true) do |f| %>

      <div class="form-group">
        <div class="avatar">
          <img src="http://placehold.it/50?text=Avatar" alt="avatar">
        </div>

        <div class="field">
          <%= f.text_area :body, rows: '5', class: 'form-control', placeholder: "What's on your mind?".html_safe, required: true %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Post', class: 'btn btn-primary' %>
      </div>
  <% end %>
</section>
